<% content_for :title, @event.name %>

<div class="breadcrumbs">
  <%= link_to "Events", events_path %> &raquo; <%= @event.name %>
</div>

<div class="event">
  <div class="hero">
    <h1>
      <%= @event.name %>
    </h1>

    <h2>
      <%= format_date @event.start_time %>
    </h2>
  </div>

  <br>

  <%= @event.description && @event.description.html_safe %>

  <br>

  <h2>Details</h2>
  <p>
    <strong>When:</strong>
    <%= format_date @event.start_time %>,
    <%= format_time_range_short @event.start_time, @event.end_time %>
    <br>
    <strong>Where:</strong>
    <%= @event.full_address %>
  </p>

  <% if !@event.full_address.blank? %>
    <% if ENV['GOOGLE_MAPS_KEY'] %>
      <iframe
        width="100%"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=<%= ENV['GOOGLE_MAPS_KEY'] %>
          &q=<%= @event.full_address.gsub(/\s/, '+') %>" >
      </iframe>
    <% else %>
      <p>
        Please set a Google Maps API key in the environment to view maps.
      </p>
    <% end %>
  <% else %>
    <p>Exact location not set, yet.</p>
  <% end %>
</div>

<% content_for :schema do %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Event",
      "name": "{{ page.name }}",
      "startDate": "{{ page.event.local_start_at | date: '%Y-%m-%dT%H:%M' }}-08:00",
      "endDate": "{{ page.event.local_end_at | date: '%Y-%m-%dT%H:%M' }}-08:00",
      "location": {
      "@type": "Place",
      "name": "{{ page.event.venue_name }}",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ page.event.venue_address.address1 }}",
        "addressLocality": "{{ page.event.venue_address.city }}",
        "postalCode": "{{ page.event.venue_address.zip }}",
        "addressRegion": "{{ page.event.venue_address.state }}",
        "addressCountry": "{{ page.event.venue_address.country_code }}"
      }
      },
      "image": "{{ page.meta_image_url }}",
      "description": "{{ page.excerpt }}"
    }
  </script>

<% end %>
