<%= content_for :title, @page.meta_title.present? ? @page.meta_title : @page.title %>
<%= content_for :description, @page.meta_desc %>

<div id='home-hero' class='hero hero-with-image' style='background-image: url(<%= @page.background_image_url %>);'>
  <div class='home-container home-columns container container-full-width'>
    <div id='home-hero-content'>
      <h1>
        We are the East Bay chapter of <strong>Democratic Socialists of America</strong>
      </h1>
      <p>
        Democratic Socialists of America (DSA) is the country's largest socialist organization,
        and East Bay DSA is the fifth-largest chapter in the US. We are building progressive
        movements for social change in Oakland, Berkeley, and throughout the East Bay while
        establishing an openly democratic socialist presence in American communities and politics.
      </p>
    </div>
  </div>
</div>

<div id='home-cta'>
  <div class='home-container home-columns container container-full-width'>
    <div id="home-newsletter">
      <h3>Get our newsletter</h3>
      <%= form_tag signup_path do %>
        <%if @state == 'error' %>
          <div class='signup__error'>Error: E-mail cannot be blank!</div>
        <% end %>
        <div class='signup'>
          <%= email_field_tag :email, params[:email], class: 'input signup__email', placeholder: 'E-mail', required: true %>
          <%= hidden_field_tag 'tags', 'eb_supporter' %>
          <%= submit_tag 'Submit', class: 'button' %>
        </div>
      <% end %>
    </div>

    <div id="home-join">

      <h3>Become an official member</h3>
      <p>
        If you want to vote at meetings, you'll need to officially join National DSA on their website and pay dues.
        All dues-paying members of National DSA living in the East Bay are automatically members of East Bay DSA.
      </p>
      <p>
        <%= link_to 'Join National DSA', 'https://dsausa.nationbuilder.com/join', class: 'button button-primary' %>
      </p>
    </div>
  </div>
</div>

<div class='home-container home-content container container-full-width'>
  <div id='home-news'>
    <%= render 'featured_posts' %>
  </div>

  <div id='home-events'>
    <%= render 'upcoming_events' %>
  </div>
</div>
<%= render partial: 'schema' %>
