<!DOCTYPE html>
<html>
  <head>
    <title>East Bay DSA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if admin_signed_in? %>
      <section class='admin'>
        <div class='container'>
          <div class='admin__menu'>
            <%= link_to 'Admin Dashboard →', admin_dashboard_path, class: 'admin__link' %>
            <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'admin__link' %>            
          </div>
        </div>
      </section>
    <% end %>

    <div class='container'>
      <h1>
        <%= link_to 'East Bay DSA', root_path %>
      </h1>
    </div>

    <div class='container'>
      <ul>
        <% @menu.each do |item| %>
          <li><%= link_to item.label, '/' + item.slug %></li>
        <% end %>
      </ul>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>

      <%= yield %>
    </div>

    <div class='container'>
      Footer
    </div>
  </body>
</html>
